main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

h1 {
  color: #89d7ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
}

span {
  text-shadow: 1px 1px 1px #376e92;
}

.lottie {
  width: 300px;
}

@media (min-width: 420px) {
  .lottie {
    width: 400px;
  }
}

@media (min-width: 620px) {
  h1 {
    font-size: 32px;
  }

  .lottie {
    width: 600px;
  }
}

@media (min-width: 820px) {
  .lottie {
    width: 800px;
  }
}
